<% content_for :head do %>
<meta name="fragment" content="!">
<% end %>

<% if params['_escaped_fragment_'].nil? %>
  <div id="output"></div>
  <script type="text/template" id="template">
    <%= render 'templates/compilations/show' %>
  </script>
<% else %>
  <%= render 'templates/compilations/show', :mustache => process(@data) %>
<% end %>
