<div class="jumbotron text-center">
  <h1>The Incarnate Word</h1>
  <p class="landing">
    O living power of the incarnate Word,<br>
    All that the Spirit has dreamed thou canst create:<br>
    Thou art the force by which I made the worlds,<br>
    Thou art my vision and my will and voice.
  </p>
</div>
<div class="col-xs-12 serif text-bg">
  <div class="col-sm-6 col-xs-12">
    <blockquote>
      <p>If one reads Sri Aurobindo carefully one finds the answers to all that one wants to know.</p>
      <footer>The Mother, <cite title="Source Title">CWM</cite></footer>
    </blockquote>
    <hr class="hidden-xs">
    <blockquote>
      <p>It is not by books that Sri Aurobindo ought to be studied but by subjects &mdash; what he has said on the Divine, on Unity, on religion, on evolution, on education, on self-perfection, on supermind, etc., etc.</p>
      <footer>The Mother, <cite title="Source Title">CWM</cite></footer>
    </blockquote>
  </div>
  <div class="col-sm-6 col-xs-12">
    <blockquote>
      <p>If you want to know what Sri Aurobindo has said on a given subject, you must at least read all that he has written on that subject. You will then see that he has apparently said the most contradictory things. But when one has read everything, and understood a little, one perceives that all the contradictions complement each other and are organised and unified into an integral synthesis.</p>
      <footer>The Mother, <cite title="Source Title">CWM</cite></footer>
    </blockquote>
  </div>
</div>
