@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=09bf2e1b-d8a4-46da-9895-96a0938c179c");

// Charlotte Sans Italic
@font-face {
  font-family:"Charlotte Sans";
  font-weight: normal;
  font-style: italic;
  src: font-url("81b7d26f-2d08-4ea1-804b.eot?#iefix");
  src: font-url("81b7d26f-2d08-4ea1-804b.eot?#iefix") format("eot"),
       font-url("ab6c3217-f343-43e8-8812.woff") format("woff"),
       font-url("0309808a-11a3-4582-acdf.ttf") format("truetype"),
       font-url("a8ea8ea7-70e9-4461-9038.svg#a8ea8ea7-70e9-4461-9038-5e3548fa3c30") format("svg");
}

// Monotype Sabon Semi Bold Italic
@font-face {
  font-family:"Monotype Sabon";
  font-weight: bold;
  font-style: italic;
  src: font-url("b1667926-7de6-4e93-b875.eot?#iefix");
  src: font-url("b1667926-7de6-4e93-b875.eot?#iefix") format("eot"),
       font-url("962aeaed-3ce5-4183-8ae5.woff") format("woff"),
       font-url("3554968c-1c22-469d-8fe9.ttf") format("truetype"),
       font-url("0dfaba5c-eae3-410f-9a17.svg#0dfaba5c-eae3-410f-9a17-d88a520fd45e") format("svg");
}

// Charlotte Sans Medium
@font-face {
  font-family:"Charlotte Sans";
  font-weight: 500;
  font-style: normal;
  src: font-url("e7349baf-2958-40eb-a7ef.eot?#iefix");
  src: font-url("e7349baf-2958-40eb-a7ef.eot?#iefix") format("eot"),
       font-url("932ca59f-5feb-450a-9fc1.woff") format("woff"),
       font-url("b32c1ab1-95e3-47dc-8c04.ttf") format("truetype"),
       font-url("6ddb1723-a6d5-491f-b6f0.svg#6ddb1723-a6d5-491f-b6f0-514ef2ce6296") format("svg");
}

// Monotype Sabon Semi Bold
@font-face {
  font-family:"Monotype Sabon";
  font-weight: bold;
  font-style: normal;
  src: font-url("3bcacb1a-3ac5-4641-97d8.eot?#iefix");
  src: font-url("3bcacb1a-3ac5-4641-97d8.eot?#iefix") format("eot"),
       font-url("00f12d34-bf7d-4e87-a2a5.woff") format("woff"),
       font-url("f566a8ba-865f-46da-9251.ttf") format("truetype"),
       font-url("436b8273-8213-489b-8b20.svg#436b8273-8213-489b-8b20-c7d4f3ba68a9") format("svg");
}

// Charlotte Sans Book
@font-face {
  font-family:"Charlotte Sans";
  font-weight: normal;
  font-style: normal;
  src: font-url("234fad02-48f2-49b4-863d.eot?#iefix");
  src: font-url("234fad02-48f2-49b4-863d.eot?#iefix") format("eot"),
       font-url("1efd1edb-1790-4869-a7a7.woff") format("woff"),
       font-url("9b51b91d-fb1d-41f8-8900.ttf") format("truetype"),
       font-url("13fa4485-acc8-4c13-ab15.svg#13fa4485-acc8-4c13-ab15-49dfe881c0e6") format("svg");
}

// Monotype Sabon Italic
@font-face {
  font-family:"Monotype Sabon";
  font-weight: normal;
  font-style: italic;
  src: font-url("1ae7d267-4b64-4ee4-89bc.eot?#iefix");
  src: font-url("1ae7d267-4b64-4ee4-89bc.eot?#iefix") format("eot"),
       font-url("a3d1f03d-2040-4592-aa69.woff") format("woff"),
       font-url("37b153ea-bbab-44d7-8332.ttf") format("truetype"),
       font-url("47002c0c-c34f-4106-b8ba.svg#47002c0c-c34f-4106-b8ba-658af08246d2") format("svg");
}

// Monotype Sabon Regular
@font-face {
  font-family:"Monotype Sabon";
  font-weight: normal;
  font-style: normal;
  src: font-url("b3813af4-2c77-4c26-931c.eot?#iefix");
  src: font-url("b3813af4-2c77-4c26-931c.eot?#iefix") format("eot"),
       font-url("07ea7c3e-59f9-4a86-8057.woff") format("woff"),
       font-url("c3c75751-9aa7-4a6f-ba60.ttf") format("truetype"),
       font-url("76bb8a02-ad67-4e42-8617.svg#76bb8a02-ad67-4e42-8617-5bd8e37f7920") format("svg");
}

// Auromere
@font-face {
  font-family:"Auromere";
  font-weight: normal;
  font-style: normal;
  src: font-url("Auromere-n4.woff") format("woff")
}

// Auromere Italic
@font-face {
  font-family:"Auromere";
  font-weight: normal;
  font-style: italic;
  src: font-url("Auromere-i4.woff") format("woff")
}

// Auromere Bold Italic
@font-face {
  font-family:"Auromere";
  font-weight: bold;
  font-style: italic;
  src: font-url("Auromere-i5.woff") format("woff")
}
